<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
</head>
<body>
    <p>Оставь надежду всяк сюда входящий!</p>
    <p>&nbsp;</p>

    <div sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin}">Назад</a></div>
    <div sec:authorize="hasRole('USER')"><a th:href="@{/user}">Назад</a></div>
    <div sec:authorize="isAnonymous()"><a th:href="@{/}">Назад</a></div>
</body>
</html>